<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="top">KAKATIYA UNIVERSITY,KU-WARANGAL</div>
    <header><img src="{{ url_for('static', filename='images/collegename.png') }}" alt="Image 1">
    </header>
    <div id="content"><ul id="hac" type="none"><li class="li"><a id="head" href="./firstpage.html"> Home</a></li><li class="li"><a id="head" href="./about.html"> About</a></li><li class="li"><a id="head" href="./contact.html"> ContactUs</a></li></ul></div>
    <section id="main">
            <div id="about">
               <h3>KU COLLEGE OF ENGINEERING & TECHNOLOGY</h3>
               <p class="about">KU College of Engineering & Technology (KUCE&T), Kakatiya University Campus, located at Warangal, Telangana State, India. It was established in the year 2009 with the mission an vision to inculcate competitive spirit and dissemination of knowledge to the students. It has been accredited with ‘A’ Grade by NAAC.The University has a wide sprawling campus of 650 acres with an excellence infrastructure for academic activities, sports and extra-curricular activities. The infrastructure includes excellence computer facilities, air conditioned seminar halls, well-ventilated class rooms, well equipped laboratories, well-stocked library etc.<br><br>

                Right from the establishment, the College has attracted students of better ranks holders of EAMCET and ECET at the state level. With progressive efforts made by the administration, faculty as well as students, the College has proven itself in academic excellence which resulted in progressive intake of students with much better ranks. Moreover, four batches of students were successfully passed out and well placed. Moreover, there are 20% to 40 % of students regularly leaving every year to higher education at foreign Universities.<br><br>
                
                Apart from the curriculum, the University also concentrates on the arranging value addition though programs and courses designed to meet specific requirements in the technical as well as areas of personality development and communication skills. Every year, few students will visit premier institutes of DLRL, DRDL, RCI, CDAC and ECIL to work on their academic projects. We have organized few campus drives of TCS (Tata Consultancy Services), Army Recruitment, Arvindo Pharma, Value Labs and Teradata to our students. The AMCAD test and TASK programs will be regularly organized for enhanced placement opportunities. Our students are scoring good ranks in various competitive exams of GATE, CAT, PGECET, TSPSC, and other exams.<br><br>
                
                The College has signed an academic MOU with Centre for Development of Advanced Computing (C-DAC), Hyderabad, Govt. of India, and University of Malaysia. The College has organized successfully International Conference on Photonics, VLSI and Signal Processing (IC-PVS) and proceedings published by Elsevier procedia. The Department of Mechanical Engineering was co-organizer of International Conference on Vibration Problems (ICOVP-2015) held in February, 2015. The proceedings of this conference is published in the form of special series by Journal of Physics (JoP) of Institute of Physics (IoP), UK.<br><br>
                
                In addition, the college also organized several student co-curricular activities of students workshop on Defence Electronics, HADOOP workshop and KLEIO students fest. In addition, the College is being organizing regular student activities of NSS, NCC, Fresher’s day, Students fest and Annual day. The guest lectures are being arranged from expert faculty from premier institutes. The College has received admissions from foreign students for Master and Ph.D engineering programs. The College achieve AAA rating as published in carrier 360 magazines.</p>
            </div>




    </section>
    <footer>
        <p id="copy">Copyrights © 2023 All Rights Reserved.KUCE&T.<br><span class="follow">&nbsp;&nbsp;<a id="color" href="http://kucet.ac.in/">google</a> &nbsp;&nbsp; |&nbsp;&nbsp;<a id="color" href="https://www.facebook.com/kucet.warangal" >facebook</a>  &nbsp;&nbsp;|&nbsp;&nbsp;<a id="color" href="https://twitter.com/KucetW"> X </a> &nbsp;&nbsp;|&nbsp;&nbsp;<a id="color" href="https://www.google.com/maps/place/KU+College+Of+Engineering+And+Technology/@18.0343755,79.5619291,17z/data=!4m14!1m7!3m6!1s0x3a3345f635da0d9b:0x7ffca009fb4a5625!2sKU+College+Of+Engineering+And+Technology!8m2!3d18.0343755!4d79.5619291!16s%2Fg%2F11b6hwz9dd!3m5!1s0x3a3345f635da0d9b:0x7ffca009fb4a5625!8m2!3d18.0343755!4d79.5619291!16s%2Fg%2F11b6hwz9dd?entry=ttu">maps</a> &nbsp;&nbsp;</span></p>
    </footer>
</body>
</html>